.instructions {
  border: 1px solid darken(#ffffff, 10%);
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1.5rem 3rem;

}

    h1 {
    color: #333;
    font-size: 2rem;
    text-align: center;
  }

  .lifeline {
    position: relative;
    top: -3px;
  }

  .lifeline-icon {
    color: #57b846;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

@media (max-width: 768px) {
  .instructions {
    width: 100% !important;
    height: 150% !important;
  }
}
